<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - olxclone</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container" style="max-width:970px !important;padding:0;padding-bottom:0;background-color:white;">

        <nav class="navbar navbar-default" style="margin-bottom:0;padding-bottom:0;background-color:white;border:1px solid white;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#">
                        <img src="~/images/testLogo.png" />
                    </a>
                    <span class="logo-title">india's largest market place</span>
                </div>
                <div id="navbar2" class="navbar-collapse collapse">
                    <!--<ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                    </ul>-->

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" style="color:#2965be;font-weight:bold;font-size:18px"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                        <!--<li ><a href="#" style=""><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
                        <li><input type="button" class="btn  navbar-btn nav-freead " style="font-size:16px" value="Submit a Free Ad" /></li>
                    </ul>


                </div>
            </div>
        </nav>


    </div>

    <div class="container body-content" style="padding:0;width:100%">
        @RenderBody()

        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            <div class="container-fluid footer-banner">
            </div>
            <div class="row footer-navigation" style="max-width:970px !important;margin:auto;">
                <div class="col-md-1">
                    <img src="~/images/testLogo.png" />
                </div>
                <div class="col-md-2" style="padding:0">
                    <ul>
                        <li><a href="#">Locations Map</a> </li>
                        <li><a href="#">Popular searches</a> </li>
                        <li><a href="#">Archive</a> </li>
                        <li><a href="#">Sitemap</a> </li>
                        <li><a href="#">Featured Ads</a> </li>
                    </ul>
                </div>
                <div class="col-md-2" style="padding:0">
                    <ul>
                        <li><a href="#">Terms of Use</a> </li>
                        <li><a href="#">Help & Contact Us</a> </li>
                    </ul>
                </div>
                <div class="col-md-2" style="padding:0">
                    <ul>
                        <li><span data-toggle="collapse" data-target="#demo" >Who we are</span></li>
                        <li><a href="#">Join OLX</a> </li>
                        <li><a href="#">Happy OLXers</a> </li>
                    </ul>
                </div>
                <div class="col-md-5">
                 <div class="row">
                     <div class="col-md-12" style="text-align:center">
                         Connect with us
                     </div>
                    
                 </div>
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-2">
                            <a href="https://www.facebook.com/olxindia" target="_blank" style="float:right"><i class="fa fa-facebook-official" style="font-size:36px"></i></a>
                        </div>
                        <div class="col-md-2">
                            <a href="https://www.facebook.com/olxindia" target="_blank" style="float:right"><i class="fa fa-google-plus-circle" style="font-size:36px"></i></a>
                        </div>
                        <div class="col-md-2">
                            <a href="https://www.facebook.com/olxindia" target="_blank" style="float:right"><i class="fa fa-twitter" style="font-size:36px"></i></a>
                        </div>
                        <div class="col-md-2">
                            <a href="https://www.facebook.com/olxindia" target="_blank" style="float:right"><i class="fa fa-instagram" style="font-size:36px"></i></a>
                        </div>
                    </div>
                                     
                </div>
               
            </div>
            <div class="row" style="max-width:970px !important;margin:auto">

                <div class="col-md-12">
                    <div id="whoweare" style="height:70px;">
                        <div id="demo" class="collapse">
                            OLX.in is a free local classifieds site. Sell anything from used cars to mobiles, furniture, laptops, clothing and more. Submit ads for free and without creating an account. If you want to buy something - here you will find interesting items, cheaper than in the store. Start buying and selling in the most easy way on OLX.in.
                        </div>
                    </div>
                    
                </div>

            </div>
        </footer>
    </div>
    <script src="~/scripts/jquery-3.2.1.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
   
    @RenderSection("Scripts", false)
</body>
</html>